
body {
  background-color: #F4F5F6;
}

.container-main {
  width: 96%;
}

.bg-color {
  background-color: #F72210;
}

.txt-color {
  color: #F72210;
}

.weather-logo {
  height: 24px;
  width: 24px;
}

.brand {
  width: 396px;
  height: 60px;
  fill:white;
}

.login {
font-size: 18px;
background: none;
border: none;
}

.subscription {
  font-size: 18px;
  background-color: #ffe400;
  border: none;
  height: 40px;
  border-radius: 20px;
}

.roboto {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.textbar-bold {
  font-size: 16px;
}

.redclip {
  width: 70px;
  height: 12px;
  right: 0;
  top:100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 36% 100%);
}

.info {
  border: 1px solid rgba(166, 166, 166, 0.56);

}

.form-submit {
  border: none;
  border-radius: 2px;
}

.sponsor-header {
  font-size: 20px;
}

.title {
  font-size: 16px;
}
.title-small {
  font-size: 14px;
}
.fleximg {
  width: 95px;
  height: 95px;
}
.flex-title {
  font-size: 15px;
}

.flex-description {
  font-size: 13px;
}

.heavy1 {
  height: 3px;
  background-color:grey;
  opacity: .5;
}

.heavy2 {
  height: 3px;
  border: 1px solid black;
  opacity: .5;
}

.tag {
  font-size: 17px;
  bottom:-8px;
  left:0px;
  color:red;
}

.circimg {
  height: 65px;
  width: 65px;
}

.bcircle {
  top:-20px;
  left:40%;
  background-color: black;
  border-radius: 50%;

}

.heading1 {
  font-size: 24px;
}

.absolute-p {
   bottom: -17px;
}

.smallimg {
  width: 155px;
  height: 155px;
}

.my-img {
  width: 100%;
  height: 290px;
}

.small-img {
  width: 100%;
  height: 200px;
}

.lg-img {
  width: 100%;
  height: 250px;
}

.x-small {
  width: 95px;
  height: 65px;
}

.absolute-item {
  width: 170px;
  height: 227px;
}

.abs-item-2 {
  left:90px;
  top: 10px;
}

.relativetext {
  margin-left: 15%;
}

.longimg {
  width: 191px;
  height: 300px;
}
